body{
    background-color: antiquewhite;
    color:black;
}

ul{
    background-color: gray;
    color:white;
    padding: 20px;
}


.secondary{
    color:purple;
    font-size:2em;
}

input{
    width:20%;
    margin:20px;
    padding:10px;
    background-color: floralwhite;
    color:black;
}

.completed{
    text-decoration: line-through;
}